<html>
	<body>
		<div class="head">
			<h1>Varney's Tic Tac Toe</h1>
		</div>
		<div class="transparent">
			<h1>Nothing</h1>
		</div>
		<div class="container">
			<form method="post" action="game">
			<div class="radios">
				<input type="radio" name="skill" value=0> Player Vs. Player<br><br>
				<input type="radio" name="skill" value=1> Easy<br><br>
				<input type="radio" name="skill" value=2> Medium<br><br>
				<input type="radio"	name="skill" value=3 checked> Unbeatable<br><br>
				<input type="radio" name="marker" value="X" checked> Go First<br><br>
				<input type="radio" name="marker" value="O"> CPU goes First<br><br>
			</div>	
				<br><input class="button2" type="submit" value="Play Game">
			</form>
		</div>	
	</body>
</html>