<html>
	<body>
		<div class="head">
			<h1>Varney's Tic Tac Toe</h1>
		</div>
		<form>
			<div class="container">
				<table id="board">
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</form>			
	</body>
</html>
