html {
  background: url("/images/storm_trooper2.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 700px;
}
body {
  color: white;
  margin: auto;
  text-align: center;
}
.head {
  padding: 1px;
  opacity: .8;
  color: darkgrey;
  background-color: black;
}
.container {
  background-color: black;
  opacity: .8;
  width: 265px;
  height: 221px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  border: 8px solid black;
}
.table_1 {
  width: 100%;
}
.td_1 {
  text-align: center;
  margin: auto;
  font-size: 50px;
  color: darkgrey;
  width: 33.333%;
}
.td_1:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.table_1 {
  border-collapse: collapse;
}
.td_1 {
  border: 6px solid darkgrey;
}
.td_1:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
.td_1:nth-of-type(2) {
  border-top-color: transparent;
}
.td_1:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
.tr_1:nth-of-type(3) .td_1 {
  border-bottom-color: transparent;
}
.table_1 {
  width: 100%;
  border-collapse: collapse;
}
.td_1 {
  width: 33.333%;
  border: 6px solid darkgrey;
}
.td_1::after {
  content: '';
  display: block;
  margin-top: -59%;
}
.td_1 {
  border: 6px solid darkgrey;
}
.td_1:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
.td_1:nth-of-type(2) {
  border-top-color: transparent;
}
.td_1:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
.tr_1:nth-of-type(3) .td_1 {
  border-bottom-color: transparent;
}
.button {
  width: 100%;
  height: 59px;
  opacity: .0;
}
.transparent {
  opacity: .0;
}
.game_over {
  background-color: black;
  color: darkgrey;
  opacity: .7;
}
.radios {
  margin-left: 73px; 
  text-align: justify;
}
.button2 {
  background-color: black;
  border: 2px solid lightgrey;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
 
}

.button2:hover {
  opacity: 1;
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
}
.reveal_if_active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[id="two_player"]:checked ~ .reveal_if_active {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

.reveal_if_active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="two_player"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.container_login {
  background-color: black;
  opacity: .8;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  border: 8px solid black;
  padding-top: 10%;
}
.radios {
  margin: auto; 
  text-align: center;
}

.error {
  color: yellow;
}

.table_2 {
  margin: auto;
  border-collapse: collapse;
  width: 95%;
}
.th_2 {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
  color: white;
  background-color: black;
}
.td_2 {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}
.tr_2 {
  color: white;
  background-color: #464544;
}
.tr_2:nth-child(odd) {
  color: white;
  background-color: black;
}
.container_stats {
  background-color: black;
  opacity: .8;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  border: 8px solid black;
  padding-top: 3%;
}
.reveal_if_active2 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[class="regular"]:checked ~ .reveal_if_active2 {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

.reveal_if_active2 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[class="regular"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.reveal_if_active3 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[id="expandable"]:checked ~ .reveal_if_active3 {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

.reveal_if_active3 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="expandable"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}